@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-main {
  color: #333;
}

.text-shadow {
  text-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
}

.bg-ripl-gradient {
  background: url(../src/assets/circle2.png) #fdfdfd;
  background-repeat: no-repeat;
}
.ripl-image {
  background: url(../src/assets/circle.png);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.12;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.socail-fill {
  filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
.card-img {
  height: 450px;
  background-size: cover;
  background-postion: center;
}

.bg-green-ripl {
  background-color: #e5f6f8;
}

.green-ripl {
  color: #11abc1;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

/* Pagination */
.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: rgb(55, 65, 81);
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #e5f6f8;
  color: #11abc1;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeinAnimation {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Lou {
  background-image: url(../src/assets/IMG_0719.jpg);
}
.Alice {
  background-image: url(../src/assets/IMG_E2545_David%20Costantino.JPG);
}
.Kubota {
  background-image: url(../src/assets/kubota_Kyle%20Hancock.jpg);
}
.Bo {
  background-image: url(../src/assets/Bo_Amelia%20Roberts.jpg);
}
.Huck {
  background-image: url(../src/assets/huck_Kyle%20Hancock.jpg);
}
.Huxley {
  background-image: url('../src/assets/Image%20from%20iOS%20(1)_Jade%20Borgeson.jpg');
}
.Bruiser {
  background-image: url('../src/assets/Image%20from%20iOS%20(2)_Madelyn%20Rahn.jpg');
}
.Rosie {
  background-image: url(../src/assets/IMG_5598_Mintaka%20Angell.jpg);
}
.Quincy {
  background-image: url(../src/assets/IMG_0723_Joe%20Long.jpg);
}
.Bruce {
  background-image: url(../src/assets/unnamed_Kaitlin%20Sweetin.jpg);
}
.Sully {
  background-image: url(../src/assets/sully_Kyle%20Hancock.jpg);
}
.Smokey {
  background-image: url(../src/assets/PXL_20220328_202557552_Micah%20Gordon.jpg);
}
.Simba {
  background-image: url(../src/assets/Simba_Ruben%20Rahman.jpg);
}
.Oynx {
  background-image: url(../src/assets/oynx_Kyle%20Hancock.jpg);
}
.Mittens {
  background-image: url(../src/assets/mittens_Amelia%20Roberts.jpg);
}
.Twoc {
  background-image: url(../src/assets/2c_Kyle%20Hancock.jpg);
}
.Korra {
  background-image: url(../src/assets/Korra_Ruben%20Rahman.jpg);
}
.Koda {
  background-image: url(../src/assets/IMG_9344_Emilie%20Rafal.jpg);
}
.Dill {
  background-image: url(../src/assets/IMG_8990_Emilie%20Rafal.jpg);
}
.Moomoo {
  background-image: url(../src/assets/IMG_7475_Malavika%20Kumaran.jpg);
}
.defaultPet {
  background-image: url(../src/assets/pet.jpg);
}
